{% extends 'base.html.twig' %}

{% block title %}TravelExpress - Connexion{% endblock %}

{% block body %}
    <div class="min-h-full flex items-center justify-center py-12 px-4">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto h-12 w-auto" src="{{ asset('logotravelexpress.png') }}" alt="Logo TravelExpress">
                <h2 class="mt-6 text-center text-3xl font-bold text-gray-900">
                    Connectez-vous à votre compte
                </h2>
                <p class="mt-2 text-center text-sm text-gray-600">
                    Ou
                    <a href="/user/new" class="font-medium text-blue-600 hover:text-blue-500">
                        créez-vous un compte maintenant
                    </a>
                </p>
            </div>
            <form class="mt-8 space-y-6" action="#" method="POST">
                {{ form_start(login_form) }}
                <input type="hidden" name="remember" value="true">
                <div class="rounded-md -space-y-px">
                    <div class="mb-3 text-md font-semibold text-gray-900">E-mail
                        {{ form_widget(login_form.mail) }}
                    </div>
                    <div class="text-md font-semibold text-gray-900">Mot de passe
                        {{ form_widget(login_form.hash_pwd) }}
                    </div>
                </div>
                {% if error == 1 %}
                <div class="text-red-600 font-base font-normal mb-2">
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
                        Votre identifiant ou mot de passe est incorrect.
                    </p>
                </div>
                {% endif %}
                <div>
                    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700">
                        {{ button_label|default('Se connecter') }}
                    </button>
                </div>
                {{ form_end(login_form) }}
            </form>
        </div>
    </div>
{% endblock %}