{% extends 'base.html.twig' %}

{% block title %}TravelExpress - Nouvel utilisateur{% endblock %}

{% block body %}
    <div class="min-h-full flex items-center justify-center py-12 px-4">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto h-12 w-auto" src="{{ asset('logotravelexpress.png') }}" alt="Logo TravelExpress">
                <h2 class="mt-6 text-center text-3xl font-bold text-gray-900">
                    Créer un compte
                </h2>
                <p class="mt-2 text-center text-sm text-gray-600">
                    Ou
                    <a href="/user/login" class="font-medium text-blue-600 hover:text-blue-500">
                        connectez-vous si vous en avez déjà un
                    </a>
                </p>
            </div>
            <form class="mt-8 space-y-6" action="#" method="POST">
                {{ form_start(user_form) }}
                <input type="hidden" name="remember" value="true">
                <div class="rounded-md -space-y-px">
                    <div class="mb-3 text-md font-semibold text-gray-900">Nom
                        {{ form_widget(user_form.name) }}
                    </div>
                    <div class="mb-3 text-md font-semibold text-gray-900 pb-3">Prénom
                        {{ form_widget(user_form.surname) }}
                    </div>
                    <div class="mb-3 text-md font-semibold text-gray-900 pb-3">E-mail
                        {{ form_widget(user_form.mail) }}
                    </div>
                    <div class="text-md font-semibold text-gray-900 pb-3">Mot de passe
                        {{ form_widget(user_form.hash_pwd) }}
                    </div>
                    <div class="text-md font-semibold text-gray-900">Préférences
                        <br>
                        <div class="inline pr-5"> Smoke {{ form_widget(user_form.have_preference.smoke) }}</div>
                        <div class="inline"> Animal {{ form_widget(user_form.have_preference.animal) }}</div>
                    </div>

                </div>
                <div>
                    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700">
                        {{ button_label|default('Créer mon compte') }}
                    </button>
                </div>
                {{ form_end(user_form) }}
            </form>
        </div>
    </div>
{% endblock %}