{% extends 'base.html.twig' %}

{% block title %}TravelExpress - Nouveau trajet{% endblock %}

{% block body %}
    <div class="min-h-full flex items-center justify-center py-12 px-4">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto h-12 w-auto" src="{{ asset('logotravelexpress.png') }}" alt="Logo TravelExpress">
                <h2 class="mt-6 text-center text-3xl font-bold text-gray-900">
                    Créer un trajet
                </h2>
                <p class="mt-2 text-center text-sm text-gray-600">
                    Ou
                    <a href="/search" class="font-medium text-blue-600 hover:text-blue-500">
                        recherchez en un maintenant
                    </a>
                </p>
            </div>
            <form class="mt-8 space-y-6" action="#" method="POST">
                {{ form_start(new_travel_form) }}
                <input type="hidden" name="remember" value="true">
                <div>
                    <div class="mb-3 text-md font-semibold text-gray-900">Ville de départ
                        {{ form_widget(new_travel_form.drive_from) }}
                    </div>
                    <div class="pb-3 text-md font-semibold text-gray-900">Ville d'arrivée
                        {{ form_widget(new_travel_form.drive_to) }}
                    </div>
                    <div class="pb-3 text-md font-semibold text-gray-900">Date de départ
                        {{ form_widget(new_travel_form.departure_datetime) }}
                    </div>
{#                    <div class="pb-3 text-md font-semibold text-gray-900">Voiture utilisée#}
{#                        {{ form_widget(new_travel_form.car) }}#}
{#                    </div>#}
                    <div class="pb-3 text-md font-semibold text-gray-900">Places disponibles
                        {{ form_widget(new_travel_form.seat_available) }}
                    </div>
                    {#                    <div class="pb-3 text-md font-semibold text-gray-900">Conducteur#}
{#                        {{ form_widget(new_travel_form.user_driver) }}#}
{#                    </div>#}
{#                    <div class="text-md font-semibold text-gray-900">Profile#}
{#                        {{ form_widget(new_travel_form.profile) }}#}
{#                    </div>#}
                </div>
                <div>
                    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700">
                        {{ button_label|default('Ajouter') }}
                    </button>
                </div>
                {{ form_end(new_travel_form) }}
            </form>
        </div>
    </div>
{% endblock %}